# Dependencies
node_modules/

# Environment Variables
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE Files
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Coverage
coverage/

# Runtime Files
pids
*.pid
*.seed
*.pid.lock

# Temporary Files
tmp/
temp/

# Uploads (if storing locally)
uploads/